* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --main-color: rgb(25, 134, 212);
}

/* change text color in class names if needed later. */

.gradeGrey {
  background: #bdc3c7;
  background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);
  background: linear-gradient(to bottom, #2c3e50, #bdc3c7);
}

.piggyPink {
  background: #ee9ca7;
  background: -webkit-linear-gradient(to bottom, #ffdde1, #ee9ca7);
  background: linear-gradient(to bottom, #ffdde1, #ee9ca7);
}

.coolBlues {
  background: #2193b0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #6dd5ed, #2193b0);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #6dd5ed, #2193b0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.harvey {
  background: #1f4037;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #99f2c8, #1f4037);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #99f2c8, #1f4037);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.greenBlue {
  background: #c2e59c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #64b3f4, #c2e59c);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #64b3f4, #c2e59c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.lightOrange {
  background: #FFB75E;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ED8F03, #FFB75E);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ED8F03, #FFB75E);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.deepPurple {
  background: #673AB7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #512DA8, #673AB7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #512DA8, #673AB7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.atlas {
  background: #FEAC5E;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #4BC0C8, #C779D0, #FEAC5E);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #4BC0C8, #C779D0, #FEAC5E);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.shore {
  background: #70e1f5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ffd194, #70e1f5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ffd194, #70e1f5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.homepage {
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.homepage-nav {
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  padding: 6px 5px;
}


.homepage-nav__left {
  display: flex;
  align-items: center;
  padding: 5px 0;
  color: white;
}

.homepage-nav__left a {
  text-decoration: none;
  color: white;
}

.homepage-nav__left h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 10px 0 0;
}

.homepage-nav__right button {
  padding: 8px 8px;
  border-radius: 2px;
  background-color: rgb(51, 83, 144);
  color: white;
  border: none;
  cursor: pointer;
}

.homepage-nav__right button:hover {
  background-color: rgb(24, 43, 80);
}

.homepage-nav__right {
  display: flex;
  padding: 5px 0;
}


.nav-search input {
  color: white;
  border-radius: 4px;
  border: none;
  padding: 0 5px;
  background-color: rgb(51, 83, 144);
}

.nav-search input::placeholder {
  color: white;
}

.nav-search input:focus {
  width: 100%;
  outline: none;
  background-color: white;
  color: black;
}

.homepage-body {
  max-width: 100vw;
  display: flex;
}

.homepage-body__side {
  flex-basis: 30%;
  display: flex;
  justify-content: flex-end;
}

.side-content {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.side-content {
  padding: 5px 5px;
  margin-top: 20px;
}

.side-content a {
  text-decoration: none;
  margin: 8px 0;
  border-radius: 4px;
  padding: 5px;
  color: black;
  font-weight: 600;
}

.side-content a:hover {
  background-color: rgba(196, 198, 201, 0.541);
}

.homepage-body__content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  flex-basis: 70%;
  padding-right: 50px;
  padding-bottom: 50px;
}

.homepage-body__content>div {
  width: 100%;
  margin: 40px 0 0 0;
  /* background-color: blue; */
}

.homepage-body__content>div h3 {
  display: flex;
  align-items: center;
  padding-top: 2px;
  padding-left: 5px;
}


.boards-content {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.boards-content>div {
  position: relative;
  margin: 5px 8px 5px 0px;
}

.boards-content div a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  font-weight: 900;
  position: relative;
}

.boards-content div a:hover {
  opacity: 0.8;
}

.boards-content div div {
  height: 90px;
  width: 180px;
  border-radius: 2px;
  padding: 10px 8px;

}

.individual-board {
  overflow: hidden;
}

.individual-board:hover .outline-star {
  right: 5px;
}

.outline-star {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.1em;
  position: absolute;
  bottom: 5px;
  right: -50px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.starred-star {
  color: gold !important;
  right: 5px !important;
  transition: none !important;
}


.starred-star>svg:hover {
  fill: transparent;
  stroke-width: 90;
}



.outline-star:hover {
  bottom: 6px;
}

.create-board {
  height: 90px;
  width: 180px;
  border-radius: 2px;
  padding: 10px 8px;
  background-color: rgb(237, 237, 237);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.create-board:hover {
  background-color: lightgray;
}

.create-modal-bg {
  position: absolute;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.548);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.create-modal {
  position: fixed;
  right: 43%;
  height: 85%;
  width: 280px;
  margin: 10px 0;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
}

.create-modal header {
  text-align: center;
  padding: 5px 0;
  border-bottom: 0.1px solid lightgrey;
}

.preview {
  width: 150px;
  height: 100px;
  position: relative;
  margin: 10px auto;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(31, 38, 135, 0.37);
}

.backgrounds-colours {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.backgrounds>div div {
  cursor: pointer;
  margin: 0px 5px;
  width: 35px;
  height: 28px;
  border-radius: 3px;
}

.backgrounds>div div:hover {
  opacity: 0.8;
}

.board-container {
  height: 100vh;
  max-width: 100vw;
}

/*
.board-container__content,
.board-container__board {
  height: 100%;
}

.board-container__board {
  overflow-x: scroll;

} */

.board-container-board__items {
  display: flex;
  height: 90vh;
  overflow-x: auto;
}


.board-container-board__items::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

.board-container-board__items::-webkit-scrollbar {
  border-radius: 10px;
  width: 10px;
  background-color: #F5F5F5;
}

.board-container-board__items::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #949494;
}



.add-list-container {
  min-width: 280px;
  border-radius: 3px;
  width: 280px;
  background-color: white;
  display: inline-block;
  height: 82px;
  margin: 10px;
  /* box shadow later */
}

.add-list-container>div {
  margin: 10px;
}


.board__items {
  display: flex;
}


.list {
  background-color: #ebecf0;
  border-radius: 5px;
  margin: 10px;
  width: 280px;
  max-width: 280px;
  flex: 1 0 auto;
  height: fit-content;
  padding: 10px 5px;
}

.list-head>p {
  color: #2c3e50;
  font-size: 1.2em;
  font-weight: 900;
  padding-left: 8px;
}

.list-head {
  display: flex;
  margin: 0px 8px;
  justify-content: space-between;
  align-items: center;
}

.list-head>button {
  background-color: none;
  border: none;
  font-size: 1.2em;
  color: rgb(192, 0, 0);
  cursor: pointer;
}

.list-head>button:hover {
  color: red;
}

.add-card-functions {
  /* display: flex; */
  flex-direction: column;
  display: none;
}

.add-card-functions>input {
  margin: 5px 8px;
  padding-bottom: 30px;
  padding-top: 4px;
  background: rgba(255, 255, 255, 1);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 1);
  padding-left: 8px;
  font-family: sans-serif;
}

.add-card-functions>input:focus {
  outline: 0;
}

.add-card-functions>input::placeholder {
  font-size: 1.1em;
}

.add-card-functions__buttons {
  display: flex;
  margin: 5px 8px;
}

.add-card-functions__buttons>button {
  margin: 0px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add-card-functions__buttons>button:nth-child(1) {
  padding: 8px 8px;
  background-color: rgb(73, 143, 186);
  color: white;
  border-radius: 3px;
}

.add-card-functions__buttons>button:nth-child(2) {
  margin-left: 8px;
  font-size: 1.5em;
  color: rgb(99, 99, 99);
}

.add-card-functions__buttons>button:nth-child(1):hover {
  background-color: rgb(50, 99, 129);
}

.add-card-functions__buttons>button:nth-child(2):hover {
  color: #2c3e50;
}

.show-add-card-functions {
  margin: 5px 10px;
  background: transparent;
  padding: 2px 50px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: rgb(99, 99, 99);
  font-size: 1.2em;
  display: flex;
  justify-content: start;
}



.show-add-card-functions:hover {
  background-color: lightgray;
}


.card {
  background-color: white;
  margin: 8px 8px;
  min-height: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 1);
  cursor: pointer;
}

.card>p {
  padding-left: 8px;
}

.edit-card-modal {
  position: absolute;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.548);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
}

.edit-card-modal__box {
  width: 600px;
  height: 600px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 1);
  
}

/* #createCardModal {
  display: none;
  position: fixed;
  z-index: 9999;
  background-color: white;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 600px;
  width: 600px;
} */